@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,500,600|IBM+Plex+Sans:300,400,500,600,700');

html,
body {
    background-color: #f1f1f1;
    font-family: var(--sans);
    font-size: 16px;
    height: 100%;
    width: 100%;
}
