@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,500,600|IBM+Plex+Sans:200,300,400,500,600,700');

html,
body {
    background-color: #f1f1f1;
    color: #323232;
    font-family: var(--sans);
    font-size: 16px;
    font-weight: var(--regular);
    height: 100%;
    width: 100%;
}

strong {
    font-weight: var(--medium);
}
