.root {
  padding: 8em 0;
}

.root input,
.root textarea {
  border: 0;
  border-radius: 4px;
  font-family: var(--mono);
  font-weight: var(--medium);
  padding: 0 1.5em;

  &::placeholder {
    color: #a3a3a3;
  }
}

.root textarea {
  line-height: 2em;
  min-height: 7em;
  padding-bottom: 1em;
  padding-top: 1em;
  resize: vertical;
}

.stats {
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 3em;
  grid-template-columns: 1fr 1fr 1fr;
}

.actions {
  padding: 6em 0;
}

.userAccount .actions {
  display: grid;
  grid-column-gap: 2em;
  grid-template-columns: 3fr 1fr 1fr;
}

.revenuePool .actions {
  display: grid;
  grid-column-gap: 2em;
  grid-template-columns: 4fr 3fr 3fr;
}

.management {
  display: grid;
  grid-column-gap: 6em;
  grid-template-columns: 7fr 3fr;
  margin-bottom: 6em;
}

.users {
  display: grid;
  grid-row-gap: 2em;
}

.users .buttons {
  text-align: right;
}

.addUsers {
  padding: 0 2em;
}

.tokens {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tokens button {
  width: 100%;
}

.hint {
  background-color: white;
  border-radius: 4px;
  color: #525252;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: var(--mono);
  font-size: 0.75em;
  line-height: 1.25rem;
  margin: 0.5em 0 0;
  padding: 1rem 1em;
}
