/*
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
*/

body {
	margin: 0;
	padding: 0;
	background: #081373 url(main-wrapper-bg.jpg) repeat;
	font-family: 'Arvo', serif;
	font-size: 14px;
	color: #FFFFFF;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

h1 {
	line-height: 150px;
	letter-spacing: -1px;
	text-align: center;
	text-transform: lowercase;
	font-size: 3.8em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #BBBBFF;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

#wrapper {
	padding: 0;
	background: url(main-image-bg.jpg) no-repeat center top;
}

/* Content */

#content {
	float: left;
	width: 600px;
	padding: 10px 0px 0px 0px;
}

.post {
}

.post .title {
	margin-bottom: 10px;
	padding: 12px 0px 20px 0px;
	letter-spacing: -.5px;
	color: #101010;
}

.post .title a {
	color: #101010;
	border: none;
}

.post .meta {
	height: 30px;
	border-bottom: 1px solid #292929;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.post .meta .date {
	float: left;
	height: 24px;
	padding: 3px 15px;
	color: #BBBBBB;
}

.post .meta .posted {
	float: right;
	height: 24px;
	padding: 3px 15px;
	color: #BBBBBB;
}

.post .meta a {
	color: #BBBBBB;
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

/* Header */

#header {
	width: 940px;
	height: 150px;
	margin: 0 auto;
}

#footer {
	width: 960px;
	height: 50px;
	margin: 500px auto;
	padding: 0px 0 15px 0;
	border-top: 1px solid #292929;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	text-align: center;
	color: #FFFFFF;
}

#footer a {
	color: #FFFFFF;
}

.three-columns {
	overflow: hidden;
	width: 960px;
	margin: 0px auto;
	padding: 30px 0px;
	color: #FFFFFF;
}

.three-columns h2 {
	padding: 0px 0px 20px 0px;
	font-size: 30px;
	color: #FFFFFF;
}

.three-columns #column1 {
	float: left;
	width: 290px;
	margin-right: 40px;
}

.three-columns #column2 {
	float: left;
	width: 290px;
}

.three-columns #column3 {
	float: right;
	width: 300px;
}

.link-style {
	display: inline-block;
	margin-top: 10px;
	padding: 5px 15px;
	background: #006BC2;
	border-radius: 10px;
	color: #FFFFFF;
}


.link-style2 {
	display: inline-block;
	margin-top: 10px;
	padding: 10px 25px;
	background: #006BC2;
	border-radius: 10px;
	font-size: 20px;
	color: #FFFFFF;
}

.one-column {
	width: 960px;
	margin: 0px auto;
	padding: 30px 0px;
	color: #FFFFFF;
}

.one-column h2 {
	padding: 0px 0px 20px 0px;
}

.one-column h2 a {
	color: #FFFFFF;
}

.one-column a {
	color: #FFFFFF;
}

#banner {
	overflow: hidden;
	width: 960px;
	margin: 0px auto;
	padding: 30px 0px;
	border-bottom: 1px solid #292929;
}


.two-columns {
	overflow: hidden;
	width: 940px;
	margin: 0px auto;
	padding: 30px 0px;
}

.two-columns #col1 {
	float: left;
	width: 600px;
	color: #FFFFFF;
}


.two-columns #col2 {
	float: right;
	width: 280px;
	background: #FFFFFF;
}

.two-columns h2 {
	padding: 0px 0px 20px 0px;
	color: #FFFFFF;
}


.two-columns .image-style {
	border: 10px solid #FFFFFF;
}


.two-columns .text-style {
	padding-bottom: 10px;
	border: 10px solid #FFFFFF;
	text-align: center;
	font-size: 20px;
}